

#notice {
  color:rgb(65, 8, 122);}

.ml30 {
  margin-left: 30px;
  }
.mr30 {
  margin-right: 30px;
  }
.mt30 {
  margin-top: 30px;
  }
.mb30 {
   margin-bottom: 30px;
  }


header {
  font-family: "Times New Roman", Times, serif;
  color:rgb(184, 138, 230);
  padding-bottom :70px;
}
header .rounded-pill{
  width:50px;
  height:50px;
  margin-bottom:0px;
  margin-top:0px;
  margin-left:20px;
}
header .form-control{
  background-color:white;
  width:330px;
  height:25px;
  margin-right :20px;
} 
footer {
  background-color: black;
padding-bottom:10px;
}
div .editfooter{
  margin:0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: black;
  text-align: center;
  padding-bottom:10px;
}
div .grid-item {
  margin:10px;
  margin-left:30px;
  color:rgb(184, 138, 230);
  font-family: "Times New Roman", Times, serif;
  padding: 0px;
  font-size: 20px;
  text-align: left;
}

.edit1 {
  color:rgb(24, 7, 121)
}
.edit2 {
  float:right;
  color:rgb(24, 7, 121)
}
.warning1 {
  color:red;
}
.hidden {
  visibility: hidden;
}
.search {
 width:35px;
 height:35px;
 margin-right:20px;
 float: right;
}
.search2 {
margin-top:13px;
}
.item2 {

  margin-left:30px;
  color:rgb(184, 138, 230);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

}
#find {
  color:rgb(184, 138, 230);
  text-shadow :0.5px 0.5px black;
  background-image: url('background2.jpg') ;
  background-size: cover;

}
#find::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:rgb(184, 138, 230);
  text-shadow :0.5px 0.5px black;
  opacity: 0.6; /* Firefox */
}
