body.indexproduct{
  background-image: url('background.jpg') ;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;;
  line-height: 15px;
}
body.indexproduct .title1{
  text-shadow: 3px 3px rgb(184, 138, 230);
  color:black;;
  text-decoration: inherit;
}
body.indexproduct h1{
  color:black;
  text-shadow :2px 2px rgb(184, 138, 230) ;
  margin-left :0px;
  text-align:center;
  padding-top:12px;
}
body.indexproduct h2{
  color:black;
  text-shadow :2px 2px rgb(184, 138, 230) ;
  margin-left :0px;
}
body.indexproduct h3{
  color:black;
  text-shadow :2px 2px rgb(184, 138, 230) ;
  margin-left :0px;
}
body.indexproduct .boloc{
  text-decoration: inherit;
  font-size: 180%;
  color:black;
  text-shadow: 1.5px 1.5px rgb(184, 138, 230);
  padding-top:10px;
}
body.indexproduct .col1{
  line-height: 40px;
  font-size:120%;
  text-decoration: inherit;
  color:black;
}
body.indexproduct .col1:hover{
  opacity:0.5;
}
body.indexproduct .col2{
  color:rgb(0, 0, 0);
}
body.indexproduct .col2:hover{
  opacity:0.5;
}
body.indexproduct .colorround{
  height:30px;
  width:50px;
}
body.indexproduct .colorround:hover{
opacity:0.5;
}
body.indexproduct .dropdown-toggle:hover .dropdown-item{
  display:block;
}
body.indexproduct .link1{
  color:black;
  text-decoration: inherit;
}

body.indexproduct .normal:after{  /* giu footer luon o duoi day */
    content: "";
    display: table;
    clear: both;}

body.indexproduct .filter {
  width:260px;
  float:left;

  padding-left :2%;

}
body.indexproduct .product-index-grid {
  max-width:80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(290px));
  color:rgb(184, 138, 230) ;
}
body.indexproduct .product{
  padding-top:5%;
 padding-left:6.5%;
 padding-right:8%;
  
}
body.indexproduct .product:hover {
  border: 1px black solid;
}
body.indexproduct .image-index {
min-height:340px;
  width:250px;
  max-height: 340px;
  height : auto;
}
body.indexproduct .image-index:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
opacity:0.8;
transform: translateY(5px);
}

body.indexproduct p.price {
  float:right;
  color : black;
  text-shadow :1px 1px rgb(184, 138, 230);
}
body.indexproduct p.title {
color : black;
text-shadow :1px 1px rgb(184, 138, 230);
font-size: 20px;
}
body.indexproduct p.color {
  font-size:17px;
  text-shadow :0.5px 0.5px black;
}

body.indexproduct p.size{
  font-size:16px;
  text-shadow :0.3px 0.3px black;
}
body.indexproduct .warning1:hover {
  color:black;
 
}
body.indexproduct .edit:hover {
  color:black;
}
@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  }


body.showproduct{
  color:rgb(126, 69, 182);; 
  font-family: "Times New Roman", Times, serif;;
  background-image: url('background.jpg') ;
  background-size: cover;
  padding-top:10px;
}
body.showproduct h1{
  color:black;
  text-shadow :2px 2px rgb(184, 138, 230);
  padding-top:50px;
}
body.showproduct strong{


}
body.showproduct .description{
 margin-top:15px;
}
body.showproduct .image-show {
width:210%;
height:80px;

} /* hinh nho */
body.showproduct .image-color{
  width:90px;
  height:120px;
  margin-right:10px;
}
body.showproduct .image-color:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 1px solid black;
}

body.showproduct .image-show:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 1px solid black;
}

body.showproduct .carousel-indicators {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  padding-top:20px;
  margin-left:10px;
}
body.showproduct .image-index {
  margin-top:15px;
  margin-bottom:30px;
  padding-bottom:10px;
  width:650px;
  height:800px;
max-width:100%; /* zoom khong bi be hinh */
}
body.showproduct .carousel-control-prev{
  width:150px;
}
body.showproduct .carousel-control-next{
  width:150px;
}
body.showproduct .flex2 {/* phai co de padding-left :15% = 15% cua trang ,khong phai 15% cua homepage1*/

  text-align:center; /* de hinh luon o giua ,khong bi nhay */
  padding-left: 10%;
  padding-right: 10%;
  }
body.showproduct .normal:after{  /* giu footer luon o duoi day */
    content: "";
    display: table;
    clear: both;}
body.showproduct .show1{
  width:50%;
  float:left;
  padding-bottom: 50px;;
  padding-left:200px;;
}
body.showproduct .show2{
  width:50%;
  float:left;
 height:900px;
}
@media only screen and (max-width: 1242px) {
  /* For mobile phones: */
  body.showproduct .image-index {
    height: auto;
  max-width:100%; /* zoom khong bi be hinh */
  }
  body.showproduct .image-show {
    width:150%;
    height:auto} /* hinh nho */
  body.showproduct .show2{
    height:700px;
  }
}

body.formproduct{
  background-color: rgb(241, 255, 254);
  color:rgb(184, 138, 230);;
  margin: 30px; 
  font-family: "Times New Roman", Times, serif;;
  line-height: 15px;
}
body.formproduct .image-form {
  min-height:340px;
    width:250px;
    max-height: 340px;
    height : auto;
  margin-bottom:30px;
  }
body.formproduct .input1{
  width:220px;
}
body.formproduct .grid{
  display:grid;
  grid-template-columns: 30% 30% 40%;
}
body.formproduct .description{
  width:250px;
  height:70px;
}