body.store{

  color:rgb(184, 138, 230);;
  font-family: "Times New Roman", Times, serif;;
  line-height: 15px;
}
body.store h1{
  color:rgb(184, 138, 230);;
  text-align:center;
  text-shadow: 3px 2px black;
  padding:0px;
  
}
body.store .product-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-left:300px;
  margin-right:300px;
  padding-left:30px;
  padding-right:30px;
}
body.store .product{
  padding :15px;
}
body.store .product:hover {
  border: 1px dotted #777;
  }
body.store p.title{
  color:black;
  font-size: 20px;
  text-shadow: 1px 1px rgb(184, 138, 230);
}
body.store p.price {
  float:right;
  text-shadow: 0.5px 0.5px black;
}
body.store p.description ,p.size{
  font-size:smaller;
}
body.store .image-index {
  width : 200px;
  height : 280px;
 }
body.store{
  background-image: url('background2.jpg') ;
  background-size: cover;
}
